*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}
img{
    position: absolute;
    z-index: -1;
    width: 40rem;
}

@keyframes rotatingCircle {
    0%, 100%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(135deg);
    }
    
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    width: 20rem;
    height: 20rem;
    background-color: transparent;
    border-top: 1rem solid transparent;
    border-right: 1rem solid #0094FF;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid #0094FF;
    border-radius: 50%;
    /* transform: rotate(45deg); */
    animation: rotatingCircle 4s linear infinite;
    transition: 1s;
}

.circle.rotate{
    width: 10rem;
    height: 10rem;
    border-top: .5rem solid transparent;
    border-right: .5rem solid #0094FF;
    border-bottom: .5rem solid transparent;
    border-left: .5rem solid #0094FF;
    animation: rotatingCircle 4s linear infinite;
    
}

@keyframes rotatingCircle2 {
    0%, 100%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    
}


.circle2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-top: 1rem solid #7dd3fc;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid #7dd3fc;
    border-left: 1rem solid transparent;
    border-radius: 50%;
    animation: rotatingCircle2 2s linear infinite;
    transition: 1s;
}

.circle2.rotate2{
    width: 7.5rem;
    height: 7.5rem;
    border-top: .5rem solid #7dd3fc;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #7dd3fc;
    border-left: .5rem solid transparent;
    animation: rotatingCircle2 2s linear infinite;
    cursor: default;
}

.circle-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 2.5px solid #dc2626;
    border-radius: 50%;
    box-shadow: 0 0 1.5rem #dc2626, inset 0 0 1.5rem #dc2626;
    transition: all 1s;
}

.circle-border.border{
    border: 2.5px solid #4ade80;
    box-shadow: 0 0 1.5rem #4ade80, inset 0 0 1.5rem #4ade80;
}

.skills__click-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #dc2626;
    border-radius: 50%;
}

.skills__click-text:before,
.skills__click-text:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 1px #dc2626;
    border-radius: 50%;
}

.skills__click-text:before {
    animation: ripple 2s linear infinite;
}

.skills__click-text:after {
    animation: ripple 2s 1s linear infinite;
}

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.skills__click-text.onclick{
    display: none;
}

.skills__parent{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.skills__left, .skills__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 15px;
    width: 25rem;
    height: 18rem;
    opacity: 0;
    transition: all 1.3s ease-out;
}

.skills__left:hover, .skills__right:hover{
    background: transparent;
}

.skills__left.click, .skills__right.click{
    border: 1px solid white;
    background-color: rgba(226, 232, 240, .15);
    backdrop-filter: blur(10px);
    opacity: 100%;
    transition: all .3s linear;
    &:hover{
        background: transparent;
    }
}

.skills__menu{
    list-style: none;
    margin: 0 1rem;
}

ul{
    padding: 1rem;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr;
}

li{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.skills__description{
    display: flex;
    flex-direction: column;
    gap: .3em;
}