.body__bg-img{
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    opacity: .8;
    z-index: -3;
    background-size: contain;
    overflow-x: hidden;
}

/* xs */
/* @media (min-width: 475px) {} */
/* sm */
/* @media (min-width: 640px) {} */
/* md */
/* @media (min-width: 768px) {} */
/* lg */
/* @media (min-width: 1024px) {} */
/* xl */
/* @media (min-width: 1280px) {} */
/* 2xl */
/* @media (min-width: 1536px) {} */