.biodata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
    gap: 2rem;
    position: relative;
}

.biodata__title{
    font-size: var(--size-xl);
}

.biodata__subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-blue);
    font-size: 0.7rem;
    width: 100%;
    height: 7vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.biodata__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
}

.biodata__sub-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    text-align: left;
    border: 1px solid var(--clr-blue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 1.5rem var(--clr-blue);
    transition: all 0.3s linear;
}

.biodata__sub-container:hover{
    backdrop-filter: blur(10px);
}

.biodata__menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem 3rem;
    font-weight: 500;
}

/* xs */
@media (min-width: 475px) {
    .biodata{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 1rem;
        gap: 1rem;
        position: relative;
    }
    
    .biodata__title{
        font-size: var(--size-2xl);
    }
    
    .biodata__subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-blue);
        font-size: 0.8rem;
        width: 100%;
        height: 7vh;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .biodata__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 0 2rem;
    }
    
    .biodata__sub-container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        align-items: center;
        text-align: left;
        border: 1px solid var(--clr-blue);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 0 1.5rem var(--clr-blue);
        transition: all 0.3s linear;
    }
    
    .biodata__sub-container:hover{
        backdrop-filter: blur(10px);
    }
    
    .biodata__menu{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 1rem 3rem;
        font-weight: 500;
    }
}
/* sm */
@media (min-width: 640px) {
    .biodata{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 1rem;
        gap: 1rem;
        position: relative;
    }
    
    .biodata__title{
        font-size: var(--size-2xl);
    }
    
    .biodata__subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-blue);
        font-size: 0.8rem;
        width: 100%;
        height: 7vh;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .biodata__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0 2rem;
    }
    
    .biodata__sub-container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        align-items: center;
        text-align: left;
        width: 70%;
        border: 1px solid var(--clr-blue);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 0 1.5rem var(--clr-blue);
        transition: all 0.3s linear;
    }
    
    .biodata__sub-container:hover{
        backdrop-filter: blur(10px);
    }
    
    .biodata__menu{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 1rem 3rem;
        font-weight: 500;
    }
}
/* md */
@media (min-width: 768px) {
    .biodata{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 1rem;
        gap: 3rem;
        position: relative;
    }
    
    .biodata__title{
        font-size: var(--size-2xl);
    }
    
    .biodata__subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-blue);
        font-size: 0.8rem;
        width: 100%;
        height: 7vh;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .biodata__container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        padding: 0 2rem;
    }
    
    .biodata__sub-container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        align-items: center;
        text-align: left;
        width: 100%;
        border: 1px solid var(--clr-blue);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 0 1.5rem var(--clr-blue);
        transition: all 0.3s linear;
    }
    
    .biodata__sub-container:hover{
        backdrop-filter: blur(10px);
    }
    
    .biodata__menu{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 1rem 3rem;
        font-weight: 500;
    }
}
/* lg */
@media (min-width: 1024px) {
    .biodata{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 3rem;
        gap: 3rem;
        position: relative;
        margin-bottom: -5rem;
    }
    
    .biodata__title{
        font-size: var(--size-3xl);
    }
    
    .biodata__subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-blue);
        font-size: var(--size-md);
        width: 100%;
        height: 7vh;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .biodata__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        padding: 0 1rem;
    }
    
    .biodata__sub-container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        align-items: center;
        text-align: left;
        width: 100%;
        height: 32rem;
        border: 1px solid var(--clr-blue);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 0 1.5rem var(--clr-blue);
        transition: all 0.3s linear;
    }
    
    .biodata__sub-container:hover{
        backdrop-filter: blur(10px);
    }
    
    .biodata__menu{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 1rem 3rem;
        font-size: var(--size-sm);
        font-weight: 500;
    }
}
/* xl */
@media (min-width: 1280px) {
    .biodata{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 3rem;
        gap: 3rem;
        position: relative;
        margin-bottom: 0rem;
    }
    
    .biodata__title{
        font-size: var(--size-4xl);
    }
    
    .biodata__subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-blue);
        font-size: var(--size-lg);
        width: 100%;
        height: 7vh;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .biodata__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        padding: 0 1rem;
    }
    
    .biodata__sub-container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        align-items: center;
        text-align: left;
        width: 100%;
        height: 30rem;
        border: 1px solid var(--clr-blue);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 0 1.5rem var(--clr-blue);
        transition: all 0.3s linear;
    }
    
    .biodata__sub-container:hover{
        backdrop-filter: blur(10px);
    }
    
    .biodata__menu{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 1rem 3rem;
        font-size: var(--size-md);
        font-weight: 500;
    }
}
/* 2xl */
/* @media (min-width: 1536px) {} */