/* xs */
/* @media (min-width: 475px) {} */
/* sm */
/* @media (min-width: 640px) {} */
/* md */
/* @media (min-width: 768px) {} */
/* lg */
/* @media (min-width: 1024px) {} */
/* xl */
/* @media (min-width: 1280px) {} */
/* 2xl */
/* @media (min-width: 1536px) {} */


.btn{
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-blue);
    color: #f1f5f9;
    padding: .5em 1em;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.btn:hover{
    background: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid var(--clr-blue);
}

.container{
    /* width 100% for screen smaller than 475px */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section{
    margin-top: 5rem;
}

/* .cursor{
    background-color: rgba(255, 0, 0, .2);
    width: 3rem;
    height: 3rem;
}

.cursor__dot{
    width: .5rem;
    height: .5rem;
    background-color: red;
}

.cursor,
.cursor__dot{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50% ,-50%);
    border-radius: 50%;
    z-index: 2;
    pointer-events: all;
} */

/* xs */
@media (min-width: 475px) {
    .container{
        max-width: 475px;
    }
}
/* sm */
@media (min-width: 640px) {
    .container{
        max-width: 640px;
    }
}
/* md */
@media (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}
/* lg */
@media (min-width: 1024px) {
    .container{
        max-width: 1024px;
    }

    .section{
        margin-top: 10rem;
    }
}
/* xl */
@media (min-width: 1280px) {
    .container{
        max-width: 1280px;
    }
}
/* 2xl */
@media (min-width: 1536px) {
    .container{
        max-width: 1536px;
    }
}